<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 align="center">Sessions List</h1>
    <% sessions.each do |s| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>#<%= s['id'] %></h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-10">
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= s['progress'] %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= s['progress'] %>%">
                  <span class="sr-only"><%= s['progress'] %>% Complete (success)</span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <% if s['progress'] == '100' %>
                <a class="btn btn-default" href="/sessions/<%= s['id'] %>/report">View Report</a>
              <% else %>
                <a class="btn btn-default" href="#" disabled>View Report</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
